/*@@@@@@@@@blog@@@@@@@*/

#pager-header.blog-header{
    background-image:url(../btn/blackstrap.png);
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-bx{
position: relative;
display: flex;
align-items: center;
padding-bottom: 100px;
width: 100%;
}

#blog .blog-img{
width: 50%;
margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
    
    }
    
 #blog .blog-details a{
    text-decoration:none;
    font-size: 11px;
    position: relative;
    color: #000;
    font-weight: 700;
 }
 #blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 5px;
    right: -60px;
    transition: 0.35s;
 }

 #blog .blog-details a:hover{
    color: var(--hoover-color);
 }

 #blog .blog-details a:hover::after{
    background-color: var(--hoover-color);
 }

 #blog .blog-bx h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: var(--text-color-h-dark);
    z-index: -8;
 }
/* about us*/

#page-header .about-header{
    background-image: url(../btn/blackstrap.png);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    padding-left: 40px;
   
}